<ion-menu side="start" menuId="unico" contentId="principal">
  <ion-header>
    <ion-toolbar color="botons">
      <ion-title>INVERNADERO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="../pages/">CULTIVO</ion-item>
      <ion-item href="../pages/">SENSORES</ion-item>
      <ion-item href="../pages/">NOTIFICACIONES</ion-item>
      <ion-item href="../pages/">PROCESOS</ion-item>
      <ion-item href="../pages/">RECOMENDACIONES</ion-item>
      <ion-item href="../pages/">ESTADISTICAS</ion-item><BR>
      <ion-button (click)="cerrarSesion()" color="botons">Cerrar Sesion</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
