<ion-header>
  <ion-toolbar color="botons">
    <ion-buttons slot="end">     
      <ion-menu-button menu="unico" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centrado">SENSORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="680" viewBox="0 0 21 680">
    <defs>
      <linearGradient id="linear-gradient" x1="0.5" y1="0.009" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#1f0"/>
        <stop offset="0.472" stop-color="#e8ff00"/>
        <stop offset="1" stop-color="red"/>
      </linearGradient>
    </defs>
    <g id="Grupo_8453" data-name="Grupo 8453" transform="translate(-5 -143)">
      <rect id="Rectángulo_16770" data-name="Rectángulo 16770" width="21" height="680" rx="10.5" transform="translate(5 143)" fill="url(#linear-gradient)"/>
      <text id="NORMAL" transform="translate(21 209) rotate(-90)" fill="rgba(0,0,0,0.37)" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">NORMAL</tspan></text>
      <text id="REGULAR" transform="translate(21.5 505.154) rotate(-90)" fill="rgba(0,0,0,0.37)" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">REGULAR</tspan></text>
      <text id="PELIGRO" transform="translate(22 817) rotate(-90)" fill="rgba(0,0,0,0.37)" font-size="15" font-family="Roboto-Medium, Roboto" font-weight="500"><tspan x="0" y="0">PELIGRO</tspan></text>
    </g>
  </svg>
</ion-content>
