<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->      
      <ion-menu-button menu="unico" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>RECOMENDACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>El cultivo del tomate es una labor muy extendida por todo el mundo. De 
    hecho es una de las plantas más conocidas por la población. Por tener
    tanto protagonismo, es necesario tener unos conocimientos sobre la
    forma correcta de cultivo. Hoy, en Agromática, te vamos a mostrar las 
    claves de su cultivo y las exigencias que requiere a lo largo de su
    crecimiento. Siempre nos gusta hacer una introducción hablando de esta increíble planta.
    ¿No conoces la tomatera o su fruto, el tomate? Entonces no eres de este mundo, así de claro.
    Es una de las hortalizas más famosas y consumidas en el mundo entero.</p>
    

</ion-content>
