<ion-header>
  <!-- Icono a la Izquierda -->
  <ion-toolbar color="botons">
      <ion-buttons slot="end">
        <ion-menu-button menu="unico" autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
    
  <!-- Nombre de la Vista -->
  <div class="center">
    <ion-title>CULTIVO</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

<!-- Descripcion del cultivo -->
  <p align="center">TIPO DE CULTIVO</p>
    
  <ion-list>    
      <ion-item>
        <ion-label>CULTIVOS</ion-label>
        <ion-select placeholder="FILTRO">
          <ion-select-option value="t">Tomate</ion-select-option>
          <ion-select-option value="m">Maiz</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>
  <div class="center">
  <ion-button href="/add_cultivo">
      Añadir Cultivo
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>
    
     
