<ion-header>
  <!-- Icono a la Izquierda -->
  <ion-toolbar color="botons">
      <ion-buttons slot="end">
        <ion-menu-button menu="unico" autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
    
  <!-- Nombre de la Vista -->
  <div class="center">
    <ion-title>CULTIVO</ion-title>
    </div>
  </ion-toolbar>



  
</ion-header>
<ion-content>
  <div class="center">
    <ion-button default="true" size="small" outline="true" color="botons">Planta 1</ion-button>
  </div>

<!-- Descripcion del cultivo -->
  <p align="center">Tipo de cultivo</p>
    
<!-- Fill -->
<div class="center">
<ion-button shape="round" fill="outline">Tomate</ion-button>
</div>

<p align="center">Cantidad de plantas</p>
    
<!-- Fill -->
<div class="center">
<ion-button shape="round" fill="outline">20</ion-button>
</div>

<p align="center">Ubicacion del cultivo</p>
    
<!-- Fill -->
<div class="center">
<ion-button shape="round" fill="outline">Campoalgre, Huila</ion-button>
</div>

<p align="center">Fecha de Inicio</p>
    
<!-- Fill -->
<div class="center">
<ion-button shape="round" fill="outline">13 Abril 2019</ion-button>
</div>

  
  
  
</ion-content>
