<ion-header>
  <ion-toolbar >
    <ion-title text-center >GROW SMART</ion-title>
    <ion-card-subtitle text-center>Maneja tus cultivos de forma inteligente</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content >  <br><br><br>
  <h2 text-center>INGRESAR TUS DATOS</h2>
  <ion-item>
    <ion-label position="floating "></ion-label>
    <ion-input type="email" placeholder="Usuario" name="usuario" [(ngModel)]="usuario" text-center></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating " ></ion-label>
    <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" text-center></ion-input>
  </ion-item><br>
  <div class="centrado">
    <ion-button (click)="Ingresar()" shape="round" color="botons">INGRESAR</ion-button><br> <br>

    <a (click)="recuperarContrasena()"  text-center>¿olvidaste tu contraseña?</a><br> <br>

    <ion-button href="/registro" shape="round" color="botons">REGISTRARSE</ion-button> 
  </div>

</ion-content>
